.adv {
    min-height: 400px;
    padding-top: 70px;
    background-color: #f6f6f6;
    &__title {
        font-size: 30px;
        font-weight: 700;
        color: #0d0d0d;
        text-align: center;
        margin: 0 auto;
    }
    &__information {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
    }
    &__info {
        img {
            display: block;
            margin: 0 auto;
        }
    }
    &__header {
        margin-top: 38px;
        text-align: center;
        font-size: 18px;
        font-weight: 700;
        color: #0d0d0d;
    }
    &__subheader {
        width: 247px;
        margin-top: 27px;
        text-align: center;
        font-size: 14px;
        font-weight: 300;
        color: #0d0d0d;
        a {
            color: #ff0000;
            &:hover {
                color: blueviolet;
            }
        }
    }
}
